/* CODE_REVIEW Nie chcę mi się wam patrzeć w css - już wszystko o css pisałem w pierwszym projekcie */

:root {
    font-size: 1.5vw;
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 10.5px;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: #5A6F84;
}

.main-page {
    display: grid;
    position: absolute;
    width: 100vw;
    height: 100%;
    grid-template-columns: 60fr 40fr;
    grid-template-rows: 1fr;
}

.left{
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.left::after{
    position: relative;
    display: block;
    content:"";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url("../assets/img/earth2.jpg");
    opacity: 0.8;
}

.right{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-right: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.logo {
    position: absolute;
    z-index: 10;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.logo .logo__text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    padding: 0.3rem 0.5rem;
    margin: 0;
}


@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.bunny {
    position: absolute;
    left: 10rem;
    bottom: 10%;
    width: 8rem;
    z-index: 10;
}

.clouds {
    position: absolute;
    left: -10rem;
    right: 0;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {
    .left{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .clouds{
        opacity: 0.7;
    }
}


.white-top {
    position: relative;
    grid-area: 1 / 1 / span 1 /span 1;
    width: 13rem;
    margin-left: 6.35vw;
    margin-top: -2%;
    margin-bottom: -2%;
    background-color: #fff;
    border-radius: 50% 0 0 50%;
    z-index: 7;
}

.white-bottom {
    position: relative;
    grid-area: 2 / 1 / span 1 /span 1;
    width: 40rem;
    margin-left: 0;
    margin-top: -6.7rem;
    margin-bottom: -6.7rem;
    background-color: #fff;
    border-radius: 80% 0 0 80%;
    z-index: 6;
}

.white-right {
    position: relative;
    grid-area: 1 / 2 / span 2 /span 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 6;
}

.weather-presentation-container {
    z-index: 11;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(187, 181, 189, 0.678);
    height: 2rem;
    width: 20rem;
    border-radius: 2rem;
    padding: 0.2rem;
    margin-right: 1rem;
    z-index: 10;
}

.search-btn {
    border-radius: 50%;
    transition: 0.4s;
}

.search-box>.search-btn:hover {
    transform: scale(1.2) translateX(-10%);
}

.search-icon {
    position: relative;
    margin: 0.2rem 0.25rem 0rem 1rem;
    width: 1.35rem;
    height: 1.8rem;
    flex-grow: 0;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    margin-left: 0.75rem;
    flex-grow: 1;
    color: white;
    font-size: 1rem;
    transition: 0.4s;
    font-family: 'Paytone One', sans-serif;
}

.search-box>.search-txt:hover {
    transform: scale(1.2) translateX(10%);
}

.bunny-speech {
    z-index: 10;
    width: 19.5rem;
    margin: 1rem 1rem 1rem 0.5rem;
    font-size: 1.1rem;
    text-align: justify;
    font-family: 'Paytone One', sans-serif;
}

.bunny-speech .greeting {
    text-transform: uppercase;
    color: rgb(180, 184, 73);
}

.weather-container{
    display: grid;
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 7rem 1fr;
    max-width: 10rem;
}

.weather-container .weather-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.weather-container .temperature {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-sizing: border-box;
    margin: 0;
    padding: 0.2rem 0 1rem 0.4rem;
    color: rgba(64, 69, 75, 0.89);
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
}

.weather-container .location {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    color: #757575;
    font-family: 'Paytone One', sans-serif;
}

.weather-container .location h2 {
    margin: 0;
}

.weather-container.clouds-none .weather-icon {
    background-image: url("../assets/icons/sun.svg");
}

.weather-container.clouds-light .weather-icon {
    background-image: url("../assets/icons/sun-cloud.svg");
}

.weather-container.rain .weather-icon {
    background-image: url("../assets/icons/sun-rain.svg");
}

.weather-container.snow .weather-icon {
    background-image: url("../assets/icons/sun-snow.svg");
}

.weather-container.storm .weather-icon {
    background-image: url("../assets/icons/sun-storm.svg");
}

.weather-container.clouds-full .weather-icon {
    background-image: url("../assets/icons/cloud.svg");
}

/*Badly needs separate asset*/
.weather-container.clouds-full.rain .weather-icon {
    background-image: url("../assets/icons/sun-rain.svg");
}

.weather-container.clouds-full.snow .weather-icon {
    background-image: url("../assets/icons/snow.svg");
}

.weather-container.clouds-full.storm .weather-icon {
    background-image: url("../assets/icons/storm.svg");    
}

.weather-container.placeholder .weather-icon {
    background-image: url("../assets/icons/weathercock.svg");
    opacity: 0.5;
    animation: weathercock-spinning 3s ease-in infinite alternate;
}

@keyframes weathercock-spinning {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

.weather-container.placeholder .temperature {
    animation: temperature-placeholder 0.75s linear infinite alternate;
}

@keyframes temperature-placeholder {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.2;
    }
}